@import "tailwindcss";
@tailwind utilities;

@layer utilities {
  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
      opacity: 0.5;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  .animate-slide-in {
    animation: slide-in 0.5s cubic-bezier(0.2, 0, 0.2, 1);
  }

  @keyframes rotate-clockwise-45 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(45deg);
    }
  }

  @keyframes rotate-counterclockwise-45 {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .animate-rotate-clockwise-45 {
    animation: rotate-clockwise-45 0.25s ease-in-out;
    transform: rotate(45deg);
    @apply text-gray-400;
  }

  .animate-rotate-counterclockwise-45 {
    animation: rotate-counterclockwise-45 0.25s ease-in-out;
    transform: rotate(0deg);
  }
}

h1 {
  @apply text-2xl font-bold mb-6;
}

body {
  @apply overflow-x-clip wrap-break-word bg-gray-700 text-gray-300;
}
