@import "tailwindcss";
@tailwind utilities;

@layer utilities {
  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
      opacity: 0.5;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  .animate-slide-in {
    animation: slide-in 0.5s cubic-bezier(0.2, 0, 0.2, 1);
  }
}

h1 {
  @apply text-2xl font-bold mb-6;
}

body {
  @apply overflow-x-clip wrap-break-word bg-gray-700 text-gray-300;
}
