@import "tailwindcss";

@theme {
  --color-secondary: #ccdef6;
}

body {
  @apply mx-auto text-gray-700 overflow-x-hidden;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

input {
  @apply h-8 box-border border-1 rounded py-1 px-2 border-gray-700;
}

input:focus-visible {
  @apply outline-0 border-2;
}

input[type="submit"],
input[type="button"],
input[type="file"],
button {
  @apply cursor-pointer;
}

button:disabled,
input:disabled {
  @apply border-gray-500 text-gray-500 bg-gray-200;
}
